#form1{border:  black 1px solid;
		border-radius: 15px;
	width: 450px; height:630px;
    background-color: rgb(9 44 170 );
    font-size: 20px;
    border: 200px;
box-shadow:  0 13px 6px -6px black;
color: white;

}


.formfillings1 input{border: black 2px solid; 
	   border-radius: 7px;
	   width:200px; height :30px;
	   font-size: 13px
       color:blue;
}

button{
	
	background-color: blue;
}


h1 ,p {text-align: center;
    padding-left: 20px;
    width: 200px;
}


img{
	width: 50px;
    height: 50px;
    position: scroll;
    *padding;
   *margin;

}
a{
    
	color: yellow;
}
video{
    width: 400px;
    height: 400px;
    
}

