#tottenhamlogo{
 background-attachment:  fixed;
 border: 2px blue solid;
 border-radius:20px;
 width: 200px;
 height:280px;
}

h2,h4{ font:color= blue  width="10px" height="30px";
	text-shadow: 0.5px 0.5px black;
background-color: yellow ;
}
body{
	background: url(-/tt.png)  fixed no-repeat width:15px height:10px;
    color:blue;
}

